<iso-navbar></iso-navbar>
<main>
  <router-outlet>
      <div class="container">
        <p>
          Publica tus servicios
        </p>
          <div class="video-container">
              <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCz=0" frameborder="0" allowfullscreen></iframe>
            </div>

          <div *ngFor="let empleo of empleos$ | async" class="col s12 m8">
             <div class="card horizontal small">
               <div class="card-image">
                 <img [src]="empleo.image">
                 </div>
                 <div class="card-stacked">
                 <div class="card-content">
                   <span class="card-title">{{empleo.titulo}}</span>
                   <p>{{empleo.detalle}}</p>
                 </div>
                 <div class="card-action">
                   <a href="/">Conocer mas</a>
                 </div>
               </div>
             </div>
           </div>
       </div>   
  </router-outlet>
</main>
<iso-footer></iso-footer>
