<div class="container">
    
  <div style="font-size:45px;">Publica tu servicio en MundoTrabajo, una manera mas facil de conseguir trabajo sin esfuerzo</div><div style="font-size:35px;">Miles ya estan registradonse a traves de nuestra plataforma.</div>
               
                <div class="video-container">
                    <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCz=0" frameborder="0" allowfullscreen></iframe>
                </div>
                
   
                <div *ngFor="let empleo of empleos$ | async" class="col s12 m8">
                    <div class="card horizontal small hide-on-small-and-down">
                      <div class="card-image">
                        <img [src]="empleo.image">
                        </div>
                        <div class="card-stacked">
                        <div class="card-content">
                          <span class="card-title">{{empleo.titulo}}</span>
                          <p>{{empleo.detalle}}</p>
                        </div>
                        <div class="card-action">
                          <a href="/">Conocer mas</a>
                        </div>
                      </div>
                    </div>
                   

                    

                    <div class="card hide-on-med-and-up">
                      <div class="card-image-r">
                        <img [src]="empleo.image">
                        </div>
                        <div class="card-stacked">
                        <div class="card-content">
                          <span class="card-title">{{empleo.titulo}}</span>
                          <p>{{empleo.detalle}}</p>
                        </div>
                        <div class="card-action">
                          <a href="/">Conocer mas</a>
                        </div>
                      </div>
                    </div>
                  </div>
                    
                       

</div> 